body {
  margin: 0 ;
  padding: 0 ;
  font-family: "Courier New";
 /* background: rgb(238,174,202);*/
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
/*	transform: scale(0.67);*/

}

button{
	cursor: pointer;
}
